{% extends "base.html" %}
{% block content %}
<div name="main-panel">
    <h3>Welcome to the ADDER!!! ((C) ENIAC Computation Corporation)</h3>

    <form method="POST" action="/">
      Number One:
      <input class="form-control"
             type="text"
             name="number-one"
             value="{{number-one}}" />

      Number Two:
      <input class="form-control"
            type="text"
            name="number-two"
            value="{{number-two}}" />

      <input type="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock %}
